#content {
      width: 500px;
      height: 600px;
      margin: 0 auto;
    }
   p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
               'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.75rem;
  color: rgb(32, 154, 148);
  text-align: left;
  margin-left: 50px;
  border: 10px solid rgb(32, 154, 148);
  background-color: rgb(186, 186, 179);
  padding: 10px;
  display: inline-block;
  width: fit-content;
  animation: slide 10s ease-out forwards;
}

@keyframes slide {
  0% { transform: translateX(-100%); }   /* starts off-screen left */
  100% { transform: translateX(calc(50vw - 50%)); } /* ends off-screen right */
}

    .hide{
      color: transparent;
    }
    .hide:hover {
      color: rgb(32, 154, 148);
      cursor: pointer;
      font-size:1.75rem;
    }
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7rem;
    color: rgb(32, 154, 148);
    text-align: center;
    margin: 90px -105px;
  text-shadow:0 0 10px #435453, 0 0 20px #435453;
  white-space: nowrap;
  width: 100%;
}
div{
    margin: 0%;
    padding: 0%;
    text-align: center;
}
body{
     margin: 0%;
    padding: 0%;
    text-align: center;
    background-image: url(images/damascus\ rose\ collage.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
     display: flex;
    flex-direction: column;   /* Stack H1 above paragraph */
    justify-content: center;  /* Vertically center */
    align-items: center;      /* Horizontally center */
    height: 100vh;
}
button{
  background-color: black;
  color: aliceblue;
  height: 50px;
  width: 70px;
  font-size: 20px;
}