#content {
      width: 500px;
      height: 600px;
      margin: 0 auto;
      }
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.75rem;
    color: rgb(13, 31, 51);
    background-color: rgb(223, 223, 210);
    border: 10px solid rgb(13, 31, 51);
    padding: 10px;
    margin: 50;   
    display: block;      
    width: fit-content;  
    text-align: center;
    animation: bounceIn 10s ease forwards;
}
@keyframes bounceIn {
  0% { transform: scale(0.3); opacity: 0; }
  50% { transform: scale(1.05); opacity: 1; }
  70% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

    .hide{
      color: transparent;
    }
    .hide:hover {
      color: rgb(13, 31, 51);
      cursor: pointer;
      font-size:1.75rem;
    }
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7rem;
    color: rgb(13, 31, 51);
    text-align: center;
    text-shadow: 0 0 10px #796770, 0 0 20px #7b6e78;
    white-space: nowrap;  
    width: 100%;          
    margin: 60 -220 ; 
     animation: bounceIn 5s ease forwards;    
 }
 @keyframes bounceIn {
  0% { transform: scale(0.3); opacity: 0; }
  50% { transform: scale(1.05); opacity: 1; }
  70% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

div{
    margin: 0%;
    padding: 0%;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("images/white flower.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;

    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    height: 100vh;
}
button{
    width: 100px;
    height: 75px;
    background-color: rgb(146, 199, 38);
    border: none;
    cursor: pointer;
    font-size: 30px;
    color:rgb(215, 131, 186);
}
