 #content {
      width: 500px;
      height: 600px;
      margin: 0 auto;
    }
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size :1.75rem;
    color: lightblue;
    text-align: center;
  margin: 50px;
  border:10px solid lightblue;
  background-color: rgb(115, 123, 172);
  padding: 10px;
  display: block;
  width: fit-content;
  animation: fadeIn 10s ease forwards;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

    .hide{
      color: transparent;
    }
    .hide:hover {
      color: lightblue;
      cursor: pointer;
      font-size:1.75rem;
    }
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7rem;
    color: lightblue;
    text-align: center;
    margin: 90px -300px;
    text-shadow: 0 0 10px #796770, 0 0 20px #7b6e78;
    width: 100%;
    white-space: nowrap;
     animation: fadeIn 5s ease forwards;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
div{
    margin: 0%;
    padding: 0%;
    text-align: center;
}
body{
     margin: 0%;
    padding: 0%;
    text-align: center;
    background-image: url(images/red\ flower.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    height: 100vh;
}
.click {
    border: none;
    cursor: pointer;
    width: 100px;
    height: 75px;
    font-size: 30px;
    background-color: pink;
    color: aliceblue;
}
.background-btn-gif{
   width: 100px;
    height: 75px;
    background-color: pink;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color:aliceblue;
}
.cat{
  width: 100px;
    height: 75px;
    background-color: pink;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color:aliceblue;
}