content{
    width: 600px;
    border: 10px solid rgb(98, 133, 179);
    margin: auto;
    font-family: verdana;
    font-size: 1.5rem;
    background-color: rgba(206, 17, 184, 0.037);
    text-align: center;
}
h1{
    font-family: verdana;
    font-size: 5rem;
    color: rgb(98, 133, 179);
    text-align: center;
    white-space: nowrap;
    margin: 5px;
}
p{
    font-family: verdana;
    font-size: 3rem;
    color: rgb(98, 133, 179);
    text-align: center;
    margin: 100px -150px ;
}
body{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-image:url("images/XR3RMURSARCAHIBSFXUBDZ6DV2H2WAA4.gif");
    background-repeat: repeat;
    text-align: center;
}
button{
    margin: auto;
    width: 84;
    height: 45px;
    background: transparent;
    border: none;
    color: rgb(98, 133, 179);
    font-size: 5rem;
    font-weight: 700;
    font-family: verdana;
    text-decoration:dotted;
}
